/* the --color-header and others are CSS variables, which we access later. 
*/
HTML {
    --color-header: #fff;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Verdana;
    font-family: var(--font-family)
}
body{
    background-image: url("background5.jpg");
    background-size: cover;
    /* background-color: #000; */
}
.location-menu {
    min-width: 350px;
    font-size: 1.15rem;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: #D80032;
    font-style: italic;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: #000000;
    background-color: rgba(215, 246, 250, 0.8);
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
p{
    color:#000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:120%;

}

h1 {
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #001B79;
}

h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #001B79;
   font-size:180%;
}

.allergens {
    color: #000;
}
.format {
    color: #000;
    font-size: 1.15rem;
}
.button-format {
    text-align: left; /* Center the button */
}

.button-format input[type="submit"] {
    background-color: #1134b5; /* Set background color */
    color: white; /* Set text color */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Set font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.button-format input[type="submit"]:hover {
    background-color: #001B79; /* Change background color on hover */
}

.post-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post{
    width: 30%;
    border: 1px solid #132043;
    padding: 15px;
    box-sizing: border-box;  
    overflow: auto;
    color: #000;
    background-color: rgba(215, 246, 250, 0.8);
    /* opacity: 0.6; */
    font-size: 14px;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.post-rating label {
    cursor: pointer;
    margin-right: 5px; 
} 


.location-menu select {
    width: auto;
    display: inline-block;
    font-size: 1.15rem;
    padding: 0.675em 1em;  
    background-color: #ffffff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: rgb(0, 0, 0); */
    color: #132043;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 10em; 
}

nav button, nav a {
    display: block;
    box-sizing: border-box; /* easier to make button and A the same size */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-bottom: 5px;
    /* background-color: var(--color-header); was #3498db */
    /* border: 2px solid black; */
    border-radius: 5px;
    cursor: pointer;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-weight: bold;
    font-size: 1.4rem;
    color: #132043;
    
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    /* background-color: #bda8ed; */
    color: #fff;
}

