{% extends "base.html" %}

{% block head_stuff %}
{% endblock %}
      
{% block nav %}
<nav id ='navbar' class="navbar">
  <ul class="nav-links">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('search_posts')}}">Search</a></li>
    <li><a href="{{url_for('new_post')}}">Insert</a></li>
    <li><a href="{{ url_for('user_profile') }}">Profile</a></li>
  </ul>
</nav>
{% endblock %}


{% block main_content %}
  <h1>Edit Post</h1>
    <form action="" method="post" enctype="multipart/form-data">

    <!-- User email -->
    <label for="user_email" aria-label="User Email"></label>
    <input type="hidden" id="user_email" name="user_email" value="{{cookie.get('username')}}" required>
    <br>

    <!-- Food Item and Description -->
    <h2>Food Item and Description:</h2>
    <label for="food_description">Describe the food item:</label>
    <textarea id="food_description" name="food_description" rows="4">{{ post.description }}</textarea>
    <br>

    <!-- Allergens -->
    <h2>Allergens:</h2>
    <label id="allergens" for="allergens">Allergens:</label><br>
    {% for a in possible_allergens %}
      <input type="checkbox" name="allergens" value="{{ a }}" id="{{ a }}" {% if a in post.allergens %}checked{% endif %}>
      <label for="{{ a }}">{{ a }}</label><br>
    {% endfor %}
    <br>

    <!-- Expiration Date -->
    <h2>Expiration Date:</h2>
    <label for="expiration_date">Date and Time:</label>
    <input type="date" id="expiration_date" name="expiration_date" value="{{ post.expiration_date }}" required>
    <br>


    <h2>Building</h2>
    <div class="location-menu">
        <label for="building_dropdown">Building:</label>
        <select id="building" name="building">
          <option value="" disabled selected hidden>select building(s)</option>
          {% for l in locations %}
            <option value="{{ l }}" {% if l == post.building %}selected{% endif %}>{{ l }}</option>
          {% endfor %}
        </select><br>
      </div>

    <!-- Location -->
    <h2>Location:</h2>
    <label for="room_number">Room number:</label>
    <input type="text" id="room_number" name="room_number" required value="{{ post.location }}">
    <br>

    <!-- Picture(s) of the Food -->
    <h2>Picture of the Food (Optional):</h2>
    <!-- Existing Image -->
    {% if post.get("image_url") %}
    <h2>Existing Image:</h2>
    <img src="{{ post.image_url }}" alt="Existing Image" width="200">
    <br>
    {% endif %}
    <label for="food_image">Upload replacement image:</label>
    <input type="file" id="food_image" name="food_image" accept="image/*">
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Save Changes">
  </form>
{% endblock %}
