{% extends "base.html" %}

{% block main_content %}
<h1>Welcome to the Wellesley College Free Food Alert!</h1>

<p>Many events occur on Wellesley College's campus, oftentimes leaving behind free, excess food that students are not aware of. 
    Furthermore, there currently exists no efficient and easy way for students to communicate with each other and spread awareness 
    about extra food. Our application Food Alert attempts to solve this problem by creating an easy and centralized way for students
    to post news about free food on campus. </p>

{% for post in search_results %}

{% endfor %}

{% endblock %}
