{% extends "base.html" %}

{% block main_content %}
<h1>Welcome to the Wellesley College Free Food Alert!</h1>

<p>Many events occur on Wellesley College's campus, oftentimes leaving behind free, excess food that students are not aware of. 
    Furthermore, there currently exists no efficient and easy way for students to communicate with each other and spread awareness 
    about extra food. Our application Food Alert attempts to solve this problem by creating an easy and centralized way for students
    to post news about free food on campus. </p>

<h3>Find free food on campus: </h3>

{% for post in search_results %}
<pre>
[picture goes here]<br/>
<strong>{{post.description}}</strong>
<em>{{post.age}} ago</em> <!--Still struggling with the timedelta-->
    Location: {{post.building}}, {{post.location}}
    Allergen Warning: contains {{post.allergens}}
    Posted by: {{post.user_email}}{% if ratedGuides.get(post.user_email) %}, who is rated {{ratedGuides.get(post.user_email)[0]}} out of 5 stars ({{ratedGuides.get(post.user_email)[1]}} ratings)
    {% endif %}
</pre>
{% if cookie.get('logged_in') %}
<form method="post" action ="{{url_for('rate_post')}}">
    <input type="hidden" name="user" value="{{cookie.get('username')}}">
    <input type="hidden" name="guide" value="{{post.user_email}}">
    <input type="hidden" name="postID" value="{{post.post_id}}">
    <label class="post-rating" style="font-weight: normal;">
        1 
        <input type="radio" name="stars" value="1">
    </label>
    <label class="post-rating" style="font-weight: normal;">
        2 
        <input type="radio" name="stars" value="2">
    </label>
    <label class="post-rating" style="font-weight: normal;">
        3 
        <input type="radio" name="stars" value="3">
    </label>
    <label class="post-rating" style="font-weight: normal;">
        4 
        <input type="radio" name="stars" value="4">
    </label>
    <label class="post-rating" style="font-weight: normal;">
        5 
        <input type="radio" name="stars" value="5">
    </label>
    <input type="submit" value="rate this">
</form>
{% endif %}
{% endfor %}

{% endblock %}
