{% extends "base.html" %}

{% block main_content %}
<h1>Welcome to the Wellesley College Free Food Alert!</h1>

<p>Many events occur on Wellesley College's campus, oftentimes leaving behind free, excess food that students are not aware of. 
    Furthermore, there currently exists no efficient and easy way for students to communicate with each other and spread awareness 
    about extra food. Our application Food Alert attempts to solve this problem by creating an easy and centralized way for students
    to post news about free food on campus. </p>

<h3>Find free food on campus: </h3>

<div class="post-container">
{% for post in search_results %}
<div class="post">
<!-- <pre> -->
[picture goes here]<br/>
<strong>{{post.description}}</strong>
<br>
<em>{{post.age}} ago</em>
<br>
    Location: {{post.building}}, {{post.location}}
    {% if (post.allergens != None) %}
        <br>
        Allergen Warning: contains {{post.allergens}}
        <br>
    {% endif %}
    Posted by: {{post.user_email}}
    {% if ratedGuides.get(post.user_email) %}
        , who is rated {{ratedGuides.get(post.user_email)[0]}} out of 5 stars ({{ratedGuides.get(post.user_email)[1]}} ratings)
    {% endif %}
<!-- </pre> -->
{% if cookie.get('logged_in') %}
<form method="post" action ="{{url_for('rate_post')}}">
    <input type="hidden" name="user" value="{{cookie.get('username')}}">
    <input type="hidden" name="guide" value="{{post.user_email}}">
    <input type="hidden" name="postID" value="{{post.post_id}}">
    {% for star in range(1,6) %}
    <label class="post-rating" style="font-weight: normal;">
        {{star}} 
        <input type="radio" name="stars" value="{{star}}">
    </label>
    {% endfor %}
    <input type="submit" value="rate this">
</form>
<br><br>
<div class="comments">
    <h3>Comments:</h3>
    {% if comments.get(post.post_id) %}
        {% for comment in comments[post.post_id] %}
            <p><strong>{{ comment.user_email }}:</strong> {{ comment.comment }}</p>
        {% endfor %}
    {% endif %}
</div>
    <br>
    <!-- Form to add a new comment -->
    <form method="post" action="{{url_for('add_comment')}}">
        <input type="hidden" name="post_id" value="{{ post.post_id }}">
        <div class="textbox">
        <textarea name="comment_text" placeholder="Add a comment" required></textarea>
    </div>
        <button type="submit">Add Comment</button>
    </form>

{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
