{% extends "base.html" %}

{% block head_stuff %}
{% endblock %}

{% block main_content %}
  <h1>Create a New Post</h1>

  <form action="{{ url_for('new_post') }}" method="post" enctype="multipart/form-data">
    <!-- User email -->
    <label for="user_email"></label>
    <input type="hidden" id="user_email" name="user_email" value="{{cookie.get('username')}}" required>
    <br>

    <!-- Food Item and Description -->
    <h2>Food Item and Description:</h2>
    <label for="food_name">Name of Food:</label>
    <input type="text" id="food_name" name="food_name" required>
    <br>

    <label for="food_description">Describe the food item:</label>
    <textarea id="food_description" name="food_description" rows="4" required></textarea>
    <br>

    <h2>Allergens:</h2>
    <label>Select known allergens (check all that apply):</label>
    <br>

    <label for="allergens">Allergens:</label><br>
    {% for a in possible_allergens %}
      <!-- Use a loop to generate checkboxes dynamically -->
      <input type="checkbox" name="allergens" value="{{ a }}"> {{ a }}<br>
    {% endfor %}
    <br>

    <!-- Expiration Date -->
    <h2>Expiration Date:</h2>
    <label for="expiration_date">Date and Time:</label>
    <input type="datetime-local" id="expiration_date" name="expiration_date" required>
    <br>

    <!-- Building -->
    <h2>Building:</h2>
    <div class="location-menu">
      <label for="building_dropdown">Food building:</label>
      <select id="building_dropdown" name="building_dropdown" required>
        <!-- Options remain the same -->
      </select>
      <br>
    </div>

    <!-- Location -->
    <h2>Location:</h2>
    <label for="room_number">Room number:</label>
    <input type="text" id="room_number" name="room_number" required>
    <br>

    <!-- Picture(s) of the Food -->
    <h2>Picture(s) of the Food (Optional):</h2>
    <label for="food_image">Upload image:</label>
    <input type="file" id="food_image" name="food_image" accept="image/*">
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Submit">
  </form>
{% endblock %}
