{% extends "base.html" %}

{% block head_stuff %}
{% endblock %}

{% block main_content %}
  <h1>Register with Food Alert</h1>
  <p><strong>Why register?</strong></p>
    <p>Creating an account with Free Food Alert lets you rate posts and food guides. You can also 
      insert and create posts yourself to let your peers know about free food you encounter!
    </p>

  <form action="{{ url_for('registration') }}" method="post">
    <div class="format">
    <!-- Personal Information -->
    <h2>Personal Information:</h2>
    
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <br>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <br>

    <label for="wellesley_email">Wellesley College Email (please enter your full wellesley email):</label>
    <input type="text" id="wellesley_email" name="wellesley_email" required>
    <br>

    <label for="password">Password (must be at least 8 characters):</label>
    <input type="password" id="password" name="password" minlength="8" required>
    <br>

    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <br>

    <!-- Terms and Conditions -->
    <h2>Terms and Conditions:</h2>

    - I understand that my Food Alert account is for the purpose of sharing information about excess food on Wellesley College's campus and I will use it responsibly.
    <br>
    - I agree to treat all users with respect and maintain a positive and inclusive community.
    <br>
    - I will not engage in any form of discrimination, harassment, or harmful behavior on this platform.
    <br>
    - I understand that my contact information will be kept confidential and will not be shared with third parties.
    <br>
    - I understand that the website is not responsible for any allergies or adverse reactions related to the information shared on the site

    <label for="terms_checkbox">I agree to the terms and conditions</label>
    <br>


    <!-- Consent and Agreement -->
    <h2>Consent and Agreement:</h2>
    <p>I have read and understood the terms and conditions stated above and hereby agree to abide by them.</p>
    <label for="full_name">Your Full Name:</label>
    <input type="text" id="full_name" name="full_name" required>
    <br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <br>
    <!-- Submit Button -->
    <div class="button-format">
    <input type="submit" value="Submit">
  </div>
  </div>
  </form>
{% endblock %}
