{% extends "base.html" %}

{% block head_stuff %}
{% endblock %}

{% block main_content %}
<body>
    <h1>Search for Food</h1>
    <form method="get" action="{{ url_for('search_posts') }}">
        <div class="location-menu">
        <label for="building_dropdown">Building:</label>
        <select id = building name="building" >
            <option value="" disabled selected hidden>select building(s)</option>
            {% for l in locations %}
            <option value="{{ l }}">{{ l }}</option>
            {% endfor %}

        </select><br>
    </div>
        <div class="format">
        <label id="allergens" for="allergens">Allergens:</label><br>
            {% for a in possible_allergens %}
            <input type="checkbox" name="allergens" value="{{ a }}" id = "{{ a }}">
            <label for="{{ a }}">{{ a }}</label><br>
            {% endfor %}
       <br>
       
       <!-- Post Date -->
        <label for="date_posted">Posted on or after:</label>
        <input type="date" id="date_posted" name="date_posted" placeholder="YYYY-MM-DD">
    </div>
    
    <div class="button-format">
        <input type="submit" value="Search">
    </div>

    </form>
  
</body>
</html>
{% endblock %}