<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">

    <title>Search</title>
  
    <style>
        label, select, input {
            margin-bottom: 50px; 
        }
    </style>

</head> -->
{% extends "base.html" %}

{% block head_stuff %}
{% endblock %}

{% block main_content %}
<body>
    <h1>Search for Food</h1>
    <form method="post" action="{{ url_for('search_posts') }}">
        <div class="location-menu">
        <label for="building_dropdown">Building:</label>
        <select id = building name="building" >
            {% for l in locations %}
            <option value="{{ l }}">{{ l }}</option>
            {% endfor %}

        </select><br>
    </div>
        <div class="format">
        <label for="allergens">Allergens:</label><br>
            {% for a in possible_allergens %}
            <input type="checkbox" name="allergens" value="{{ a }}"> {{ a }}<br>
            {% endfor %}
       <br>


        <label for="date_posted">Date Posted:</label>
        <input type="text" name="date_posted" placeholder="YYYY-MM-DD"><br>
    </div>
    <div class="button-format">
        <input type="submit" value="Search">
    </div>
    </form>
  
</body>
</html>
{% endblock %}